#my-main-wrapper section,
p,
div,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
#main-div {
  width: 100vw;
  height: max-content;
  background-image: url("plant.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-color: #000;
}

.App {
  text-align: center;
}
a {
  text-decoration: none;
}

.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden;
}

.header-glint {
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  padding: 5%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2.5vh;
}

.advert {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: max-content;

  min-height: 100vh;
}

.advert-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  overflow: hidden;
}

.advert-info > p {
  font-family: "montserrat-medium", sans-serif;
  font-size: 4rem;
  margin-top: 0;
  color: #ffffff;
}

.advert-info > span {
  font-family: "montserrat-medium", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
}

.header > h1 > span {
  color: lightgreen;
}

.header-glint-menu {
  color: lightgreen;
}

.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.navbar > a {
  text-decoration: none;
  color: black;
}

.navbar > a:hover {
  text-decoration: none;
  color: #00d2b5;
  transition: 500ms ease;
}

.textDiv {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.textDiv > h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.textDiv > span {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  height: 10%;
  width: 40%;
  background-color: #00d2b5;
  color: white;
}

/* .btn:hover {
  background-color: white;
  border: 3px solid #00d2b5;
  color: black;
  transition: 500ms ease;
} */

.features {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5%;
  gap: 5%;
  width: 100vw;
  height: 100vh;
  background-color: #61dafb;
}
.featureCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25%;
  height: 50%;
  background-color: white;
  box-sizing: border-box;
  padding: 3%;
  gap: 5%;
}

.featureCards > a {
  color: #00d2b5;
}

.featureCards > div {
  width: 100%;
}

.logo {
  background-color: #00d2b5;
  width: 20%;
  height: 20%;
}

.featureSubtitle {
  font-size: 40px;
  font-weight: 900;
}
.icon-autorenew:before {
  content: "\2607";
}

.proto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 5%;
}

.prototypesImage {
  height: 100%;
  width: 60%;
}

.prototypeDescriptionSpan {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
}

.ul-check.success li:before {
  color: #8bc34a;
}

.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}

li {
  list-style-type: "\2699";
}

.comment {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30%;
  background-color: white;
  border: 2px solid black;
  box-shadow: #000;
  margin-left: 10%;
  text-align: center;
  box-shadow: 0 0 3px 3px black;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.calcContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 50vw;
  background-color: #61dafb;
}

.screen {
  width: 100%;
  height: 30%;
  background-color: gray;
}

.input {
  width: 10%;
  height: 20%;
  background-color: green;
  text-align: center;
}

.about {
  width: 60vw;
  background-color: #39b54a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5%;
}

.about-subhead {
  font-family: "montserrat-bold", sans-serif;
  font-size: 1rem;
  line-height: 1.333;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

.about-header {
  font-family: "montserrat-medium", sans-serif;
  text-align: center;
  word-wrap: break-word;
  font-size: 4rem;
  line-height: 1.25;
  color: white;
  margin-top: 0;
}

.about-line {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 40%;
}

.about > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5rem;
  line-height: 1.75;
  text-align: center;
  max-width: 1024px;
  color: #000;
}

.home-content__buttons {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  gap: 5%;
  margin-bottom: 10rem;
}

html {
  scroll-behavior: smooth;
}

.home-content__buttons > a {
  text-decoration: none;
  color: white;
  width: 50%;
  letter-spacing: 0.25rem;
  text-align: center;
  background: transparent;
  border: 0.2rem solid white;
  text-transform: uppercase;
  height: 4rem;
  font-family: "montserrat-medium", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content__buttons > a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
  color: #000;
}

.home-content__buttons > a:active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
  color: #000;
}

.btn--stroke,
button.btn--stroke {
  background: transparent !important;
  border: 0.2rem solid #39b54a;
  color: #39b54a;
}

.a:hover {
  background-color: white;
}

button,
.btn {
  margin-bottom: 10rem;
}

.extras {
  background-color: white;
  color: #39b54a;
}

.extrasblack {
  color: #000;
  font-size: 4rem;
}

.featuresContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  box-sizing: border-box;
  padding: 5%;
  gap: 5rem;
}

.featuresContainer > div {
  width: 40%;
}
.feature-title {
  color: #000;
  font-size: 2rem;
}

.feature-p {
  color: #757575;
  font-size: 1.2rem;
  line-height: 1.3;
}

.contact-container {
  box-sizing: border-box;
  padding: 5%;
  width: 100vw;
  background-image: url("https://preview.colorlib.com/theme/glint/images/contact-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contactForm {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 5%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.3);
}

.form {
  width: 65%;
  box-sizing: border-box;
  padding: 2.5%;
  height: inherit;
}

.contact {
  text-align: center;
  width: 60%;
  text-transform: uppercase;
}

.contactinfo {
  width: 35%;
  background-color: #121212;
  box-sizing: border-box;
  padding: 2.5%;
}

input[type="text"],
textarea {
  max-width: 100%;
  height: 4rem;
  background: transparent;
  border: none;
}
.feature-box-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  box-sizing: border-box;
  padding: 2%;
}

.contactinfo-subheadingh5 {
  color: #39b54a;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  border-radius: 0px;
  color: #ffffff;
  background: #39b54a;
  text-decoration: none;
  font-family: "montserrat-medium", sans-serif;
  font-size: 0.7rem;
  width: 80%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  height: 2rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

input[type="text"],
textarea {
  border: none;
  border-bottom: 2px solid #121212;
  margin-bottom: 1rem;
}

textarea {
  max-height: 10rem;
  min-height: 3rem;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #39b54a;
  transition: 500ms ease-in;
  color: white;
}

.socialMediaIcons {
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {

  #main-div {
    min-height: max-content;
    background-image: url("https://wallpaperaccess.com/full/3483001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }

  .img { 
    max-width: 100%;
  }
  
  .header-glint {
    justify-content: center;
  }
  .advert {
    margin-top: 5rem;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: center;
  }

  .advert-info {
    width: 100%;
    font-size: 16px;
  }

  .advert-info > span {
    font-size: 1rem;
  }

  .advert-info > p {
    font-size: 2rem;
  }

  .about-subhead {
    font-size: 0.5rem;
  }

  .about-header {
    font-size: 2rem;
  }

  .about {
    width: 100%;
    
  }

  .about > p {
    text-align: left;
    font-size: 1rem;
    
  }

  .home-content__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .featuresContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature-box-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .feature-box-img > img {
    width: 50%;
  }

  .contactForm {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .form,
  .contactinfo,
  .contact {
    width: 100%;
    margin-bottom: 5rem;
  }

  .feature-p {
    width: 100%;
  }

  .featuresContainer > div {
    width: 80%;
  }
}
